th{
  background-color: #333A40;
  color: white;
  width: 25%;
}

.id{
  font-weight: bold;
}

td{
  font-family: 'Inter';
  font-size: 18px;
}

.Totales{
  font-family: 'Inter';
  font-size: 20px;
}
